.card-container {
  position: relative;
  border: 1px solid transparent;
}

.card {
  width: 120px;
  height: 90px !important;
  font-size: 12px;
  margin: 10px;
  padding: 10px;
  letter-spacing: 2px;
  text-transform: capitalize;
  border-radius: 4px;
  background: #ececec1c;
  backdrop-filter: blur(3px);
  box-shadow: var(--box-shadow);
}

.card img,
.placeImg {
  margin: 10px;
  height: 28px;
  width: 28px;
  object-fit: cover;
}

.card-container .btn-context-menu {
  display: none;
  position: absolute;
  top: 13px;
  right: 13px;
  padding: 0 6px;
  border-radius: 4px;
}

.card-container:hover>.btn-context-menu {
  display: block;
  background-color: var(--dark-transparent);
}

.card-container svg {
  width: 12px;
  height: 12px;
}

.border-dotted {
  border: 1px dotted white;
}