:root {
  --main-color: #242424;
  --bg-card:#424242;
  --box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.2529175640624825), 0px 0px 2.9px rgba(0, 0, 0, 0.21400716959133134);
}

@font-face {
  font-family: 'Segoe-UI.ttf';
  src: url(../assets/Segoe-UI.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Segoe-UI.ttf';
}

body,
#root {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--main-color);
  color: #fff;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  
  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}

.container {
  width: 80%;
  height: 100%;
  text-align: center;
}

h1 {font-size: 85px; margin:0}
/**********************/
.card-container {position: relative;}
.card {
  width: 120px;
  height: 90px;
  font-size: 12px;
  margin: 10px;
  padding:10px;
  letter-spacing: 2px;
  text-transform: capitalize;
  border-radius: 4px;
  background: var(--bg-card);
  box-shadow: var(--box-shadow);
}

.card img {
  max-height: 28px;
    margin: 10px;
}

.card-container .btn-context-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000000b5;
  border-radius: 50%;
  padding: 1px 6px;
}

.context-menu {
  display: none;
  background: var(--bg-card);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.2);
  display: block;
  font-size: 14px;
  margin-inline-start: 5px;
  inset-inline-start: 100%;
  position: absolute;
  top: 25px;
  right: -80%;
  z-index: 1;
}

.context-menu ul {list-style: none; padding:0; margin: 0; font-size: 12px;}
.context-menu li {padding: 5px 12px;}
.context-menu li:hover {background-color: var(--main-color);}

.card-container:hover>.btn-context-menu {display:block; }

.card-container svg {width: 12px; height: 12px; transition: all .25s;}

a{color: #ffffff; text-decoration: none;}
/**********************************/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.493);
  border-radius: 4px;
  z-index: 8;
}

form {
  width: 320px;
  background: #424242;
  padding: 20px;
  box-shadow: var(--box-shadow);
}

form h3 {
  width: 100%;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* border-bottom: 1px solid #000; */
  text-align: left;
}

label {
  display: inline-block;
    line-height: 20px;
    font-size: 12px;
    color: #FFFFFF;
}
input {
  border-radius: 4px;
    outline: none;
    padding: 5px 14px;
    width: 100%;
    line-height: 24px;
}

button {
  flex: 1;
  border-radius: 4px;
    font-weight: 600;    
    line-height: 24px;
    padding: 5px 24px;
    border: 0;
    background: #1A73E8;
    color: #ffffff;    
    cursor: pointer;
}

button:hover {background-color: rgba(0, 0, 0, 0.199);}

button,label {text-transform: uppercase; letter-spacing: .6px;}
/*******************************/
hr {
  margin: 0;
  border: 1px solid var(--main-color);
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.justify-left {justify-content: flex-start;}

.py-3 {
  padding: 30px;
}

.m-0 {margin:0}
.mt-0 {margin-top:0}
.mr-10 {margin-right: 10px;}
.ml-10 {margin-left: 10px;}
.mt-10 {margin-top: 10px;}
.mb-10 {margin-bottom: 10px;}
.h-100 {height: 100%;}
.w-100 {width: 100%;}
.w-60 {width: 60%;}

.bg-dark {background-color: #5C5C5C;}

.txt-left {text-align: left;}
.txt-uppercase {text-transform: uppercase;}

.align-start {align-items:flex-start;}

.lsp2 {letter-spacing: 2px;}

.truncate {
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/************ Scroll **************/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #1d1e20;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3e3e;
}

@media screen and (max-width: 600px) {
  .container {width: 95% !important;}
}