:root {
  --main-color: #2e2e30;
  --light-dark: #ffffff15;
  --dark-transparent: rgba(0, 0, 0, 0.322);
  --white: #ffffff;
  --light: #eeeeee;
  --black: #000000;
  --red: #ff4a4a;
  --muted: #d6d6d6;
  --orange: #FFC107;
  --bleu: #1A73E8;
  --box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.25), 0px 0px 2.9px rgba(0, 0, 0, 0.21);
  --light-box-shad: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
  --blur: blur(3px);
}

@font-face {
  font-family: 'Segoe-UI.ttf';
  src: url(../assets/Segoe-UI.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Segoe-UI.ttf';
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--main-color);
  background-image: linear-gradient(135deg, rgb(33 37 41 / 73%), rgb(33 37 41 / 88%)), url(../assets/bg.jpg);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  color: #fff;

  font-size: 1rem;

  font-weight: 400;
  line-height: 1.5;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  height: 100%;
  text-align: center;
}

h1 {
  font-size: 85px;
  margin: 0;
  margin-top: -10px;
}

h4 {
  margin-top: 0;
  border-bottom: 1px solid var(--dark-transparent);
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

form { z-index: 10;}

/************************************/
.btn-settings {
  position: fixed;
  right: 45px;
  top: 20px;
}

.settings-modal {
  width: 300px;
  position: fixed;
  top: 60px;
  right: 45px;
  padding: 10px;
  background: var(--main-color);
  box-shadow: var(--light-box-shad);
  z-index: 12;
}

/******************************/
.weather {
  height: 50px;
  position: fixed;
  left: 45px;
  top: 20px;
  background-color: var(--light-dark);
  border-radius: 4px;
  padding: 5px 10px;
}

.weather span {
  font-size: 14px;
}

/**********************************/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

small {
  color: var(--muted);
  font-size: 12px;
}

label {
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  display: inline-block;
  line-height: 20px;
  color: #FFFFFF;
  text-align: left;
}

input,
select {
  display: block;
  width: 100%;
  height: 45px;
  background-color: var(--white);
  color: var(--black);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 0;
  outline: none !important;
}

select {
  outline: none !important;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 600;
  line-height: 24px;
  padding: 5px 24px;
  border: 0;
  background: var(--orange);
  color: var(--main-color);
  outline: none !important;
}

button:hover,
li:hover {
  background-color: var(--dark-transparent);
  color: var(--white);
}

button,
label {
  display: flex;
  align-items:center;
  text-transform: uppercase;
  letter-spacing: .6px;
}

svg {margin-right: 5px;}

button,
li {
  cursor: pointer;
  transition: background-color 0.25s;
}

.form-search {
  position: sticky;
}

.btn-search {
  background-color: inherit;
  position: absolute;
  top: 10px;
  right: -10px;
}

.btn-search:hover {
  background-color: inherit;
}

/******************************/
.inline-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.inline-list li {
  flex: 1 1 20%;
  justify-content: space-between;
  background-color: var(--dark-transparent);
  text-align: left !important;
  margin: 10px;
  padding: 15px;
}

/*******************************/
.divider {
  width: 1px;
  height: 50%;
  background: rgba(255, 255, 255, 0.158);
  margin: 5px;
}

hr {
  border: 1px solid var(--dark-transparent);
  margin: 10px 0;
}

.disp-none {display: none;}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.d-flexi {
  display: flex;
}

.d-flex>.col-2 {
  width: 46.2% !important;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.justify-left {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.align-start {
  justify-content: flex-start;
}

.py-3 {
  padding: 30px;
}

.m-0 {
  margin: 0
}

.mt-0 {
  margin-top: 0
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.ml-10 {
  margin-left: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.vh-90 {
  min-height: 90vh;
}

.h-100 {
  height: 100%;
}

.vw-100 {
  width: 100vw;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.c-white {
  color: var(--white);
}

.c-bleu {
  color: var(--bleu);
}

.c-orange {
  color: var(--orange);
}

.c-muted {
  color: var(--muted);
}

.bg-dark {
  background-color: var(--main-color);
}

.bg-trans {
  background-color: var(--dark-transparent);
}

.bg-red {
  background-color: var(--red);
}

.bg-inherit {
  background-color: inherit;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center !important;
}

.txt-uppercase {
  text-transform: uppercase;
}

.align-start {
  align-items: flex-start;
}

.lsp2 {
  letter-spacing: 2px;
}

.fw-normal {
  font-weight: normal;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/************ Scroll **************/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-dark);
}

@media screen and (max-width: 978px) {
  .inline-list li {
    flex: 1 1 47%;
  }
  .w-60 {
    width: 100% !important;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 45px;
  }

  .container,
  .w-50,.w-60 {
    width: 100% !important;
  }

  .inline-list li {
    flex: 1 1 100%;
  }
}