.input-select {
  position: relative;
}

.input-select input {
  height: 35px;
}

.input-select ul {
  max-height: 250px;
  position: absolute;
  top: 75px;
  left: 0;
  background: var(--main-color);
  overflow-y: auto;
  box-shadow: var(--light-box-shad);
  z-index: 999999;
}

.input-select ul li {
  padding: 10px !important;
  font-size: 12px;  
  color: var(--white);
  border-bottom: 1px solid var(--dark-transparent);
  text-align: left;
  cursor: pointer;
}

.input-select ul li:last-child{ border: none;}

.input-select ul li:hover {
  background-color: #ffffff17 !important;
  color: var(--orange);
}