.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-transparent);
  border-radius: 4px;
  z-index: 11;
}

.modal form {
  width: 420px;
  background-color: var(--main-color);
  padding: 20px;
  box-shadow: var(--light-box-shad);
  animation: scale .25s;
}

.modal form div:first-child {
  justify-content:space-between;
  border-bottom: 1px solid var(--dark-transparent);
  padding-bottom: 10px;
}

.modal form h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
}
