.modalDialog {
  position: fixed;
  top: 40%;
  right: 0;
  left: 0;
  padding: 20px;
  z-index: 99999;
  opacity:0;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}
.modalDialog > ul {
  width: fit-content;  
  max-height: 80%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: auto;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px 0px;
}
.close {
  position: absolute;
  left: 20px;
  top: -40px;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px 0px;
}
.close:hover {
  background: var(--gray);
}