.nav {
  width: 320px;
  background: var(--transparent);
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: left;
  box-shadow: 0 0 3em rgba(0, 0, 0, .15);
  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
  z-index: 999;
  backdrop-filter: blur(5px);
  border: 1px solid var(--gray);
}

.nav .sidebar-content {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}



.nav-open {
  transform: translateX(0);
}